/*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/

#testimonials {
  #carousel {
    padding-top: 50px;
    margin-bottom: 80px;
    .container {
      max-width: 850px;
      padding: 3rem;
      box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.05),
        4px 4px 4px rgba(0, 0, 0, 0.05);
      .row {
        margin: 0;
      }
    }
  }
}

.quote {
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
}

.fas {
  color: #ffb400;
  padding-right: 2px;
  height: 25px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner {
  height: 100%;
  .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
    p {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 40px;
      text-align: justify;
      color: #292929;
    }
  }
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
  z-index: 1;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #62c29f;
  border: none;
}
#fade-quote-carousel blockquote {
  text-align: center;
  border: none;
}
#fade-quote-carousel {
  padding-top: 1rem;
  .profile-circle {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-right: 130px;
    float: left;
    margin-bottom: 30%;
    margin-top: 20px;
    background: transparent;
    img {
      height: 150px;
      width: 150px;
      border-radius: 100%;
    }
  }
}

@media only screen and (max-width: 500px) {
  #carousel {
    width: 100%;
    .container {
      width: 90%;
    }
  }

  #fade-quote-carousel {
    .profile-circle {
      float: none;
      display: block;
      margin: auto;
      margin-bottom: 8rem;
      width: 150px;
      height: 150px;
      img {
        margin: auto;
        padding: 0;
      }
    }
    blockquote {
      padding: 0;
    }
  }
}
