@media only screen and (max-width: 500px) {
  .btn {
    font-size: 2rem;
  }

  // header {
  //   #main-nav {
  //     width: 100%;
  //     top: 0;
  //     height: 150px;

  //     .nav-content {
  //       flex-direction: column;
  //       margin: 0;

  //       .logo {
  //         width: 180px;
  //         align-self: center;
  //         margin-top: 1rem;
  //         margin-bottom: 1rem;
  //       }

  //       ul {
  //         top: 0px;
  //         display: grid;
  //         grid-template-columns: 1fr;

  //         li {
  //           padding: 0.5rem;
  //           border-bottom: 1px dotted lightgray;
  //           padding: 1rem;
  //           width: 90%;

  //           &:last-child {
  //             border: none;
  //           }
  //         }
  //       }

  //       .menu-wrap {
  //         position: fixed;
  //         top: 0;
  //         left: 0;
  //         z-index: 1;

  //         .menu {
  //           position: fixed;
  //           top: 110px;
  //           left: 0;
  //           width: 100%;
  //           height: 370px;
  //           visibility: hidden;
  //           overflow: hidden;
  //           background: #fff;
  //           box-shadow: 1px 3px rgba(0, 0, 0, 0.11);
  //           opacity: 0;
  //           transition: opacity 0.8s ease-in-out;
  //         }

  //         .toggler {
  //           display: inline-block;
  //           position: absolute;
  //           top: 30px;
  //           left: 0;
  //           z-index: 1002;
  //           width: 50px;
  //           height: 50px;
  //           opacity: 0;

  //           // Menu Visibility
  //           .toggler:checked ~ .menu {
  //             visibility: visible;
  //             opacity: 1;
  //           }
  //         }

  //         .hamburger {
  //           position: absolute;
  //           top: 30px;
  //           left: 0;
  //           z-index: 1001;
  //           width: 60px;
  //           height: 60px;
  //           padding: 1rem;
  //           background: #fff;
  //           display: flex;
  //           align-items: center;
  //           justify-content: center;

  //           //Hamburger Line
  //           & > div {
  //             position: relative;
  //             flex: none;
  //             width: 100%;
  //             height: 2px;
  //             background: #292929;
  //             display: flex;
  //             align-items: center;
  //             justify-content: center;
  //             transition: all 0.4s ease;

  //             // Hamburger Top & Bottom Lines
  //             &:before,
  //             &:after {
  //               content: "";
  //               position: absolute;
  //               z-index: 1001;
  //               top: -10px;
  //               width: 100%;
  //               height: 2px;
  //               background: inherit;
  //             }

  //             &:after {
  //               top: 10px;
  //             }
  //           }
  //         }

  //         // Toggler Animation
  //         .toggler:checked + .hamburger > div {
  //           transform: rotate(135deg);

  //           // Turns Lines Into X
  //           &:before,
  //           &:after {
  //             transform: rotate(90deg);
  //             top: 0;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  header {
    .topnav {
      flex-direction: row;
      padding: 2rem 1rem;
    }
    .topnav a {
      display: none;
    }
    .topnav a.icon {
      display: block;
      height: 65px;
      width: 65px;
      background: #62c29f;
      color: #fff;
      .fa {
        position: relative;
        top: 7px;
      }
      .fa-close {
        display: none;
      }
    }
    .topnav.responsive {
      position: fixed;
      height: 320px;
      width: 100%;
      z-index: 2;
      background: #fff;
      box-shadow: 0 0 10px 0 #292929;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 1rem;
      top: 2rem;
      .fa {
        position: relative;
        top: 7px;
        left: 1rem;
      }
      .fa-close {
        display: block;
        margin-top: 4px;
      }
      .fa-bars {
        display: none;
        &:before {
          display: relative;
          top: 4px;
        }
      }
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .nav {
      position: absolute;
      top: 100px;
      height: 400px;
      width: 95%;
      transition: 1s ease-in-out;
      a {
        border-bottom: 1px solid #efefef;
        &:last-child {
          border: none;
        }
        &.icon {
          top: 25px;
        }
      }
    }
  }

  #hero {
    height: 100%;
    .hero-content {
      flex-direction: column-reverse;
      height: 100%;
      width: 100%;
      justify-content: center;
      text-align: center;
      &-b {
        padding: 1rem;
        .btn {
          display: none;
        }
      }
      &-a {
        display: inline-block;
        padding-right: 0;
        .btn {
          display: inline-block;
        }
      }
    }
  }
  #usp {
    height: 100%;
    padding-bottom: 6rem;
    .usp-content {
      grid-template-columns: 1fr;
      .usp-card {
        h3 {
          font-size: 25px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }

  // Testimonials
  #testimonials {
    .large-line {
      width: 70%;
      left: 0;
    }
    .small-line {
      width: 45%;
      left: 10%;
    }
  }

  // Buy Now
  #buy-now {
    .buy-now-container {
      display: inline-block;
      padding: 1rem;
      &-a {
        width: 100%;
        padding: 0;
        img {
          width: 100%;
        }
      }
      &-b {
        width: 100%;
        border-radius: 10%;
        margin: auto;
        text-align: center;
        padding: 0;
        p {
          margin: 0;
        }
      }
    }
  }

  // Footer
  footer {
    height: 100%;
    padding: 4rem;
    .footer-content {
      display: grid;
      grid-template-areas:
        "links"
        "contact"
        "social"
        "logo";
      grid-gap: 2rem;
      text-align: center;
      div {
        padding: 0;
      }
      h3 {
        font-size: 30px;
      }
      a {
        font-size: 20px;
      }
    }
    .logo {
      height: 100%;
      width: 80%;
      margin: auto;
      grid-area: logo;
    }
    .links {
      grid-area: links;
    }
    .contact {
      grid-area: contact;
    }
    .social {
      grid-area: social;
    }
  }
  .tothetop {
    height: 50px;
    width: 50px;
    background: lightblue;
    border-radius: 100%;
    position: fixed;
    bottom: 25px;
    right: 25px;
    .fas {
      color: #fff;
      position: relative;
      top: 15px;
      left: 18px;
    }
  }
}
